@import "normalize.less";


/* LESS VARIABLES
----------------------------------------------- */
@primaryColor: #f1b05e;
@secondaryColor: #e97900;
@primaryFont: "proxima-nova", helvetica, sans-serif;


.transition(@transition) {
  -moz-transition: @transition;
  -webkit-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

@layoutTransition: all 0.2s ease-in-out;




html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-family: @primaryFont;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* TYPE
----------------------------------------------- */
h2 {
  text-align: center;
  font-weight: 400;
  font-size: 33px;
  letter-spacing: .03em;
}

/* LAYOUT
----------------------------------------------- */
.inner {
  margin: 0 auto;
  max-width: 610 / 16em;
  .transition(@layoutTransition);
}


.inner-large {
  margin: 0 auto;
  max-width: 770 / 16em;
  .transition(@layoutTransition);
}


/* HEADER
----------------------------------------------- */
#header {
  background: @primaryColor url(../images/banner-bg.png) repeat-x center 0;
  border-bottom: 60px solid #fff9ef;
  border-color: rgba(255, 255, 255, .9);
  height: 456px; /* 456 + 60 (from tab nav) */
}

#logo {
  background: url(../images/logo.png) no-repeat 0 0;
  float: left;
  height: 62px;
  text-indent: -999999em;
  width: 158px; /*GF*/
}

  /* MENU */
  .menu ul {
    float: right;
    list-style: none;
  }
  
  .menu ul li {
    display: inline-block;
  }
  
  .menu a {
    color: #5b3a13;
    text-decoration: none;
  }
  
  /* BANNER */
  #banner p {
    text-align: center;
  }
  
  #banner p span {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0.5em 0 0 rgba(0, 0, 0, 0.1), -.5em 0 0 rgba(0, 0, 0, 0.1);
    color: white;
    display: inline;
    font-size: 44px;
    font-weight: 700;
  }
  
/* PROGRAM
----------------------------------------------- */
#program {
  border-top: 1px solid #EFEDE9;
  padding-bottom: 84px;
}

#program .nav {
/*   display: table; */
  list-style: none;
  margin: 0 0 -19px 0;
  padding-left: 0;
  position: relative;
  text-transform: uppercase;
  top: -61px;
  width: 100%;
}

#program .nav li {
  border-top: 3px solid transparent;
  float: left;
  width: 33.33333%;
}

#program .nav a {
  color: @secondaryColor;
  display: inline-block;
  font-size: 24px;
  padding: 13px 0 12px 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

#program .nav li.current {
  background: #fff;
  border-top: 3px solid @secondaryColor;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, .1), -1px 0px 0px rgba(0, 0, 0, .1), 1px 0px 0px rgba(0, 0, 0, .1); /*GF*/
}

#program .nav a.current {
  color: #7b7b7b;
}

.event-single {
  border-bottom: 1px solid #EEE;
  width: 540 / 610% * 100;
}

#program .time {
  color: #757575;
  float: left;
  font-size: 14px;
  margin-right: 20 / 540% * 100;
  padding-top: 7px;
  width: 60 / 540% * 100;
}

#program h3 {
  background: url(../images/arrows.png) no-repeat right 0;
  color: #757575;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  width: 460 / 540% * 100;
}

#program .on h3 {
  background: url(../images/arrows.png) no-repeat right -24px;
}

#program .event-single-inner {
  margin-left: 70 / 470% * 100;
  width: 470 / 540% * 100;
}


/* ABOUT
----------------------------------------------- */
#about {
  background: #f5f1eb;
  padding-top: 36px;
}

/* FOOTER
----------------------------------------------- */
#footer {
  background: #e6e4e1;
}

#footer ul {
  padding: 0;
}

#footer li {
  float: left;
  height: 60px;
  list-style: none; 
  width: 33.33333%;
}

#footer li a {
  background: url(../images/logo-sprite.png) no-repeat center 0;
  display: inline-block;
  height: 60px;
  opacity: .4;
  text-indent: -999999em;
  width: 100%;
}

#footer li a:hover {
  opacity: 1;
}

#footer .bijou a {
  background-position: center 0;
}

#footer .cf a {
  background-position: center -83px;
}

#footer .emu-mark a {
  background-position: center -158px;
}
/* 
----------------------------------------------- */












/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 610px) {

  .inner {
    max-width: 90%;
  }
  
  #program .nav.inner {
    max-width: 100%;
  }
  
  #program .nav a {
    font-size: 21px;
    padding: 14px 0 15px 0;
  }
  
  .event-single {
    width: 100%;
  }
  
  #program .time {
    width: 90 / 540% * 100;
  }
  
  #program h3 {
    width: 430 / 540% * 100;
  }

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}